/* DO NOT NEED A $30k DEBT TO LEARN CODE 

CSS Styling in the house!




-----------GENERAL OVER ALL STYLES-----------       */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* START YOUR ENGINES  */


