/* DO NOT NEED A $30k DEBT TO LEARN CODE 

CSS Styling in the house!




-----------GENERAL OVER ALL STYLES-----------       */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-transform: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size:62.5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
  }




/* START YOUR ENGINES  */



header {
    display: flex;
    width: 90%;
    margin: auto; 
    align-items:center; 
    
}

/* LOGO SECTION */

.logo-container,
.nav-links,
.cart {
    display:flex;
}

.logo-container {
    /* align-items:center; */
    /* background-color: pink; */
    flex: .45;  
}

.logo {
    width: auto;
    height: auto;
    max-width:3.5rem;
    object-fit: cover; 
    
}
.logo2 {
    display:flex;
    align-items:center;
    padding-left:.1rem;
    font-weight:600;
    font-size:1.1rem;
    color:#363636;
   
}


/* NAV SECTION */

nav, ul, li, a {
    display:flex;
    justify-content:center;
    margin-top:.05rem;
    flex:1;
    margin-left:-1rem;
    padding-left:-2rem;
    /* background-color:orange; */
    text-decoration: none;
    font-size:1rem;
    color:#363636;
}
a:visited {
    color:#363636;
}
a:active {
    color:#6b6b6b;
}
a:hover {
    color:hotpink;
}


    



/* CART  */
.cart{ 
    
    justify-content:center;
    width: auto;
    height: auto;
    max-width:2.5rem;
    max-height:2.5rem;

        object-fit: contain; /* Fit logo in the image size */
            -o-object-fit: contain; /* Fit logo fro opera browser */
        object-position: top; /* Set logo position */
            -o-object-position: top; /* Logo position for opera browser */
        
    /* background: lightgoldenrodyellow; */
    flex: 1;
}

/* -------------------------------- MAIN PAGE -------------------------------- */